# Using Predictive Analysis To Predict Melbourne House Price  

By Niladri Ghosh

## 1. Identify Problem

Real Estate has became one of the main places to put your investment in recent times. With the current instability in the market it has became too risky to invest in stock markets, gold prices constanly going down and goverment not considering crypocurrency as a serious option. That being said, owing a property seems to be a viable option to put your money in. So with this motivation we need to analyze what fectors leads to the price of a property in an area, we'll be predicting house prices in Melbourne, Australia.

### 1.1 Expected Outcome

Given house price data from Domain.com.au (and other sources) provides various features of a particular property like number of rooms, address, suburb ,etc. Since this is a __regression problem__, our __final output would be the price of the house estimated by our model__.

### 1.2 Objective

Since many features in our data is categorical value, we need to find appropriate techniques to convert them into integers, as our model only inputs numerical values and finally predict house prices. In machine learning this is a regression problem.

> Thus, the goal is to estimate the price of various houses provided the different unique features of the property. To acheive this we have used machine learning regression methods to fit a function that can predict the continuos values (price) for the new inputs.

### 1.3 Identify Data Sources

The [Melbourne House Price](https://www.kaggle.com/anthonypino/melbourne-housing-market?select=Melbourne_housing_FULL.csv) dataset is available at Kaggle by [Tony Pino](https://www.kaggle.com/anthonypino). The dataset contains 34,857 rows of data and 21 columns (20 features and 1 taget).

* The 5th column provides the price of the house.
* Columns 1-4 and 6-21 provides various details for the given house.

__Getting Started : Load libraries and set options__

In [1]:
# load libraries
import numpy as np
import pandas as pd

# display all columns
pd.set_option('display.max_columns', None)

__Load Dataset__

First load the supplied CSV file using Pandas read_csv function.

In [2]:
# read data
df = pd.read_csv('data/data_full.csv')

__Inspecting the data__

The first step is to visually inspect the new dataset. There are multiple ways to acheive this:
* The easiest way is to fetch first 5 rows is using DataFrame.head(), here df.head().
* Alternatively we can fetch the last 5 rows using DataFrame.tail(), here df.tail().

__NOTE:__ 

For both the above methods we can add a parameter inside the parenthesis '()' to specify how many rows we want to display, thus we can inspect the data.

In [3]:
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,6/08/2016,2.5,3067.0,3.0,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,6/08/2016,2.5,3067.0,4.0,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,6/08/2016,2.5,3067.0,3.0,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0

In [4]:
# check shape of the given data
df.shape

(34857, 21)

We can observe here the number of 34,857 rows, each with 21 columns.

On contrary we can use use info() method provided by pandas to generate a consise summary of the data. It provides the detail about each column, number of rows, null values, the data type and the memory usage.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

Check for duplicate values using pandas dataframe duplicated method.

In [6]:
# check total duplicated values
df[df.duplicated()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15858,Nunawading,1/7 Lilian St,3,t,NaN,SP,Jellis,17/06/2017,15.4,3131.0,3.0,3.0,2.0,405.0,226.0,2000.0,Manningham City Council,-37.82678,145.16777,Eastern Metropolitan,4973.0

We have only single duplicate entry therefor we have removed it.

In [7]:
#remove duplicate from dataframe
df.drop_duplicates(inplace=True)

The pandas method __dtypes.value_counts()__ provides the number of columns of each type in the dataframe.

In [8]:
df.dtypes.value_counts()

float64    12
object      8
int64       1
dtype: int64

From the above results, out of 21 columns 12 are float values (precise with decimals), 8 are object (character values) and 1 is integer value.

In [9]:
# check for null values
df.isnull().any()

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

From the above result we can see that many of the columns contains null values in it. We will have to apply various methods by assessing them carefully and get rid of them.

__Check for null values__

We need to assess how many null values are present in each column in order to fix the issue. If the values are low we can straight away remove them, if not we can fill them by various measures of centrality (mean, mediam, mode) or by any othe means. But first of all we need to carefully analyze it.

In [10]:
def nullvalper(dataframe):
    res = {'col':[],'val':[]}
    for column in dataframe.columns:
        if df[column].isnull().any() == True:
            print("{} : {:.4f}".format(
                column,(len(dataframe[column])-dataframe[column].count())/len(dataframe)*100))
            #res['col'].append(column)
            #res['val'].append(round((len(dataframe[column])-dataframe[column].count())/len(dataframe),))
    #return res

In [11]:
# check null percentage
nullvalper(df)

Price : 21.8298
Distance : 0.0029
Postcode : 0.0029
Bedroom2 : 23.5741
Bathroom : 23.6000
Car : 25.0402
Landsize : 33.8823
BuildingArea : 60.5778
YearBuilt : 55.3879
CouncilArea : 0.0086
Lattitude : 22.8827
Longtitude : 22.8827
Regionname : 0.0086
Propertycount : 0.0086

Since __Price__ is our main target, we shall __remove__ the __null values__ for accurate predictions.

In [12]:
df = df.dropna(axis=0, subset=['Price'])

Since __YearBuilt__ and __BuildingArea__ has way many null values and out of our threshold of 50%, we __remove__ these two features.

In [13]:
df.drop(columns=['YearBuilt', 'BuildingArea'],inplace=True)

Since __Car__ parking is too tricky to assume or fill. We shall __remove the null values__.

In [14]:
df = df.dropna(axis=0, subset=['Car'])

In [15]:
nullvalper(df)

Landsize : 13.3281
Lattitude : 0.1077
Longtitude : 0.1077

Remaining null coordinates accounts of 0.1% and can be removed.

In [16]:
#remove remianing latitude and longitude
df = df.dropna(axis=0, subset=['Lattitude','Longtitude'])

In [17]:
nullvalper(df)

Landsize : 13.3425

Now we remove the null values in Landsize. One approach would be to __fill the null values with the mean of Landsize with their corresponding number of rooms__, since the column has no null values and is most logical way to approximate Landsize.

In [18]:
rooms = df['Rooms'].unique()
for i in rooms:
        size_mean = df[df['Rooms']== i]['Landsize'].mean()
        df.loc[(df['Rooms']==i) & (df['Landsize'].isna()),'Landsize'] = size_mean

In [19]:
nullvalper(df)

Landsize : 0.0049

Remaining null Landsize accounts of 0.004%, which we can remove.

In [20]:
df = df.dropna(axis=0, subset=['Landsize'])

We saw few observations with __Bedroom and Bathrooms equal to 0__. We __remove__ those data points.

In [24]:
df = df[df['Bedroom2']!=0]

In [25]:
df = df[df['Bathroom']!=0]

There are entries for __Car__ parking equal to 0. For safe side we can __assume__ those __1__.

In [26]:
df.loc[df['Car']==0,'Car'] = 1

### Remove Outliers

If a value has a distance to the average higher than x * standard deviation, it can be assumed as an outlier. Then the question is what x should be?

There is no trivial solution for x, but usually, a value between 2 and 4 seems practical as provided by the statisticians.

In [28]:
def remove_outlier(data):
    factor = 7.1
    col = data.select_dtypes(include=np.number).columns.tolist()
    for column in col:
        upper_lim = data[column].mean () + data[column].std () * factor
        lower_lim = data[column].mean () - data[column].std () * factor

        data = data[(data[column] < upper_lim) & (data[column] > lower_lim)]
    return data

In [29]:
# remove outlier
df_new = remove_outlier(df)

Now we use the dedscribe method provided by Pandas to check the in-depth statistics of our numerical values.

In [31]:
df_new.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount
count,20275.000000,2.027500e+04,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000,20275.000000
mean,3.061356,1.084132e+06,11.402683,3113.123305,3.046313,1.594624,1.770407,536.364356,-37.806444,144.996797,7513.327250
std,0.935043,6.332001e+05,6.783565,110.347012,0.931074,0.688525,0.887481,708.393652,0.091579,0.120266,4411.016407
min,1.000000,8.500000e+04,0.000000,3000.000000,1.000000,1.000000,1.000000,0.000000,-38.190430,144.423790,121.000000
25%,2.000000,6.550000e+05,6.600000,3046.000000,2.000000,1.000000,1.000000,262.000000,-37.861100,144.924540,4380.000000
50%,3.000000,9.050000e+05,10.500000,3087.000000,3.000000,1.000000,2.000000,545.000000,-37.799370,145.004300,6567.000000
75%,4.000000,1.330000e+06,14.200000,3152.000000,4.000000,2.000000,2.000000,669.000000,-37.747905,145.069235,10331.000000
max,8.000000,5.700000e+06,48.100000,3910.000000,9.000000,6.000000,8.000000,21715.000000,-37.397800,145.526350,21650.000000

In [40]:
def check_unique(data):
    obj_df = df.select_dtypes(include=['object']).columns.tolist()
    for col in obj_df:
        print(col,len(data[col].unique()))

In [41]:
check_unique(df_new)

Suburb 325
Address 19913
Type 3
Method 5
SellerG 319
Date 78
CouncilArea 33
Regionname 8

In [ ]:
import seaborn as sns

In [ ]:
sns.set_style("darkgrid") 
  
sns.boxplot(x = 'Bedroom2', y = 'Price', data = df)